services:

  db:
    image: mysql:latest
    hostname: db.wallet.myhpi.local
    environment:
      MYSQL_DATABASE: 'kaffee'
      MYSQL_USER: 'kaffee'
      MYSQL_PASSWORD: "${KAFFEE_PASSWORD}"
      MYSQL_ROOT_PASSWORD: "${ROOT_PASSWORD}"
    expose:
      - '3306'
    volumes:
      - kaffe-db:/var/lib/mysql
    networks:
      - wallet
      - monitoring
    restart: unless-stopped

  backend:
    build: ./backend
    hostname: backend.wallet.myhpi.local
    depends_on:
      - db
    networks:
      - wallet
      - monitoring
      - internet
    expose:
      - '8080'
    volumes:
      - ./backend/nginx.conf:/etc/nginx/conf.d/default.conf
    restart: unless-stopped

  frontend:
    image: registry.gitlab.hpi.de/fachschaftsrat/wallet/portal
    hostname: frontend.wallet.myhpi.local
    depends_on:
      - backend
    networks:
      - wallet
      - internet
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin:5.2.1-apache
    hostname: pma.wallet.myhpi.local
    environment:
      PMA_HOST: db
    networks:
      - wallet
      - internet
    depends_on:
      - db
    restart: unless-stopped

networks:
  wallet:
    internal: true
  internet:
    name: default-network
    external: true
  monitoring:
    name: monitoring
    external: true

volumes:
  kaffe-db: {}
