services:
  keycloak:
    build:
      context: .
      args:
        VERSION: "26.4.4"
    hostname: auth.myhpi.local
    restart: unless-stopped
    environment:
      - KC_DB_URL_HOST=db
      - KC_DB_USERNAME=keycloak
      - KC_HOSTNAME=auth.myhpi.de
      # KC_DB_PASSWORD set in env file
      # KEYCLOAK_ADMIN set in env file
      # KEYCLOAK_ADMIN_PASSWORD set in env file
    env_file:
      - .env
    command: start --optimized --spi-connections-jpa-legacy-migration-strategy=update --proxy-headers=xforwarded --http-enabled=true
    depends_on:
      - db
    networks:
      - db_net
      - default
      - monitoring


  db:
    image: postgres:17.5-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=keycloak
      - POSTGRES_DB=keycloak
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8
      # POSTGRES_PASSWORD set in env file
    env_file:
      - .env
    volumes:
      - db_vol:/var/lib/postgresql/data
    shm_size: 256m
    networks:
      - db_net

networks:
  db_net: {}
  default:
    name: default-network
    external: true
  monitoring:
    name: monitoring
    external: true


volumes:
  db_vol:
