services:

  myhpi_django:
    image: ghcr.io/fsr-de/myhpi:v1.1.0
    hostname: django.myhpi.local
    restart: unless-stopped
    command: uwsgi /app/uwsgi.ini
    volumes:
      - myhpi_static_volume:/app/data/static/
      - myhpi_media_volume:/app/data/media/
      - type: bind
        source: ./logs
        target: /app/logs
    depends_on:
      - myhpi_postgres
    env_file:
      - .env
    networks:
      - intern

  myhpi_postgres:
    image: postgres:14-alpine
    hostname: db.myhpi.local
    restart: unless-stopped
    volumes:
      - myhpi_postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    environment:
      - PGUSER=myhpi
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - intern
      - db-gateway-access

  myhpi_nginx:
    build: ./nginx
    hostname: myhpi.local
    restart: unless-stopped
    volumes:
      - myhpi_static_volume:/app/data/static/
      - myhpi_media_volume:/app/data/media/
    depends_on:
      - myhpi_django
    networks:
      - default
      - intern

volumes:
  myhpi_postgres_data:
  myhpi_static_volume:
  myhpi_media_volume:

networks:
  intern:
    name: myhpi-internal
    driver: bridge
  default:
    name: default-network
    external: true
  db-gateway-access:
    name: db-gateway-access
    external: true
