POSTGRES_PASSWORD=

VIKUNJA_MAILER_HOST="smtp://smtp.example.com"
VIKUNJA_MAILER_USERNAME=
VIKUNJA_MAILER_PASSWORD=
VIKUNJA_MAILER_FROMEMAIL="vikunja@myhpi.de"

VIKUNJA_DATABASE_PASSWORD=
VIKUNJA_SERVICE_JWTSECRET=
VIKUNJA_MIGRATION_TRELLO_KEY=

VIKUNJA_AUTH_OPENID_PROVIDERS_keycloak_CLIENTID=id
VIKUNJA_AUTH_OPENID_PROVIDERS_keycloak_CLIENTSECRET=secret