services:
  vikunja:
    image: vikunja/vikunja:v1.0.0-rc1
    hostname: vikunja.myhpi.local
    environment:
      - VIKUNJA_SERVICE_PUBLICURL=https://vikunja.myhpi.de
      - VIKUNJA_DATABASE_HOST=db
      # VIKUNJA_DATABASE_PASSWORD set in env
      - VIKUNJA_DATABASE_TYPE=postgres
      - VIKUNJA_DATABASE_USER=vikunja
      - VIKUNJA_DATABASE_DATABASE=vikunja
      # VIKUNJA_SERVICE_JWTSECRET set in env
      - VIKUNJA_SERVICE_TIMEZONE=Europe/Berlin
      - VIKUNJA_MAILER_ENABLED=true
      # VIKUNJA_MAILER_HOST set in env
      - VIKUNJA_MAILER_PORT=25
      # VIKUNJA_MAILER_USERNAME set in env
      # VIKUNJA_MAILER_PASSWORD set in env
      # VIKUNJA_MAILER_FROMEMAIL
      - VIKUNJA_MIGRATION_TRELLO_ENABLE=true
      # VIKUNJA_MIGRATION_TRELLO_KEY set in env
      # TODO Add auth settings
      - VIKUNJA_METRICS_ENABLED=true
      - VIKUNJA_DEFAULTSETTINGS_AVATAR_PROVIDER=gravatar
      - VIKUNJA_DEFAULTSETTINGS_WEEK_START=1
    env_file:
      - .env
    ports:
      - 3456:3456
    volumes:
      - app_files:/app/vikunja/files
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - default
      - internal
      - monitoring

  db:
    image: postgres:17.5
    environment:
      # POSTGRES_PASSWORD set in env
      - POSTGRES_USER=vikunja
    env_file:
      - .env
    volumes:
      - db_vol:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER"]
      interval: 2s
      start_period: 30s
    networks:
      - internal

volumes:
  app_files:
  db_vol:

networks:
  default:
    name: default-network
    external: true
  internal: {}
  monitoring:
    name: monitoring
    external: true